<template>
  <div>
    <a href="" @click.prevent="login">Login</a>
  </div>
</template>
<script>
import axios from 'axios';
axios.defaults.withCredentials = true

export default {
  name: 'App',
  data () {
    return {

    }
  },
  methods: {
    async login () {
      await axios.get('http://localhost:8000/sanctum/csrf-cookie')
      // neu dang nhap roi, khi goi toi controller login thi se redirect ve home nen loi cors
      await axios.post('http://localhost:8000/login', {
        email: 'phongdat.pirago@gmail.com',
        password: '12345678'
      })
      let response = await axios.get('http://localhost:8000/api/user');
      console.log(response.data);
    }
  }
}
</script>
